


<div class="product-list">
    <h1 class="productheading">All Product List</h1>
    <p class="p_message">{{ProductMessage}}</p>
    <table>
        <thead>
            <tr>
                <th>image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Color</th>
                <th>Catagory</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productlist">

                <td><img src="{{item.URL}}"></td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.color}}</td>
                <td>{{item.catagory}}</td>
                <td>{{item.Description}}</td>
            
                <td><button class="btn" (click)="delete(item.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>

</div>