<nav>
  <h2><a href="/"><img src="../../assets/images/lavish logo e-commerce.jpeg" style="margin-top: 7px;" width="90px" height="50px"></a></h2>

  <div *ngIf="menuType=='default'" class="search">
    <input type="text" (keyup)="searchProduct($event)" (blur)="hideSearch()" #searchInput  placeholder="Search for products" />
    <button class="searchbutton" (click)="submitSearch(searchInput.value)">Search</button>
    <ul class="suggested-result" *ngIf="searchResult">
      <li *ngFor="let item of searchResult">
        <a (mousedown)="redirectToDetails(item.id)"> {{item.name}}</a>
      </li>

    </ul>

  </div>
<div  [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="seller">Seller</a></li>
    <li><a routerLink="/user-auth">Login/SignUp</a></li>
    <li><a routerLink="cart-checking">Cart(0)</a></li>
  </ul>

  <ul *ngSwitchCase="'user'">
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="seller">Seller</a></li>
    <li><a (click)="userLogout()">LogOut</a></li>
    <li><a routerLink="/user-auth">{{userName | titlecase}}</a></li>
    <li><a routerLink="cart-checking">Cart(0)</a></li>
  </ul>

  <ul *ngSwitchCase="'sellers'">
    <li><a routerLink="seller/seller-add-product">Add product</a></li>
    <li><a routerLink="seller/seller-home">Product List</a></li>
    <li><a (click)="logout()" style="cursor: pointer;">Logout</a></li>
    <li><a >{{sellerName | titlecase}}</a></li>
  </ul>
</div>

</nav>
